.section-how{
  padding: 60px 0;
  position: relative;
  text-align: center;
  .text{
    font-size: 1.125em;
    max-width: 960px;
    margin: 0 auto;
  }
  &-list{
    @include block_flex;
    @include flex_justify_between;
    margin: 0 -15px;
    &_item{
      width: 25%;
      margin: 20px 15px 15px;
      &:nth-child(even){
        padding-top: 40px;
      }
      .count{
        font-size: 20px;
        color: $color_white;
        font-family: $font_family_title;
        font-weight: bold;
        background: $color_link;
        text-align: center;
        width: 42px;
        height: 40px;
        border-radius: 50%;
        line-height: 42px;
        margin: 0 auto;
      }
      .name{
        color: $color_blue_1;
        font-style: italic;
        font-size: 20px;
        margin: 10px 0;
      }
      .image{
        border-radius: 7px;
        overflow: hidden;
        @include box_shadow(0 3px 20px rgba($border_color_2,0.15));
        margin: 25px 0;
      }
    }
  }
}
@media(max-width: 980px) {
  .section-how{
    &-list_item .name{
      font-size: 18px;
    }
  }
}
@media(max-width: 767px) {
  .section-how{
    padding: 30px 0;
    .text{
      font-size: 1em;
    }
    &-list{
      @include flex_wrap;
      @include flex_justify_center;
      margin-bottom: 30px;
      &_item{
        width: 30%;
        min-width: 214px;
        margin-bottom: 0;
        .image{
          margin-bottom: 0;
        }
      }
    }
  }
}
@media(max-width: 480px) {
  .section-how-list_item{
    margin-top: 10px;
    margin-bottom: 20px;
    &:nth-child(even) {
      padding-top: 0;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
}