<section class="section-how">
    <div class="container">
        <h1 class="blue">How It Works</h1>
        <div class="section-how-list">
            <div class="section-how-list_item">
                <div class="count">1</div>
                <div class="name">Create a profile via our app </div>
                <div class="image"><img src="images/how/how1.jpg" alt=""></div>
            </div>
            <div class="section-how-list_item">
                <div class="count">2</div>
                <div class="name">Fill out info about your dog or yourself</div>
                <div class="image"><img src="images/how/how2.jpg" alt=""></div>
            </div>
            <div class="section-how-list_item">
                <div class="count">3</div>
                <div class="name">Search for matches according to your criteria easily</div>
                <div class="image"><img src="images/how/how3.jpg" alt=""></div>
            </div>
            <div class="section-how-list_item">
                <div class="count">4</div>
                <div class="name">Contact them with in-app messenger </div>
                <div class="image"><img src="images/how/how4.jpg" alt=""></div>
            </div>

        </div>
        <div class="text">
            After you’ve found a possible match, you’re ready to schedule your first meet and greet. This is a fantastic opportunity for the Dog and the Pal to get to know each other, and share important details.
        </div>
    </div>
</section>