.section-about{
  padding-bottom: 50px;
  .container{
    background: url("../images/svg/drop-about.svg")  right 20px no-repeat;
  }
  .text{
    font-size: 18px;
    max-width: 500px;
  }
  &_image,
  &_text{
    width: 50%;
  }
  &_text{
    padding: 160px 15px 0;
  }
}
@media(max-width: 980px) {
  .section-about{
    &_text{
      padding-top: 80px;
    }
    .container{
      background: none;
    }
  }
}
@media(max-width: 767px) {
  .section-about{
    padding: 30px 0;
    .flexible{
      @include flex_column_reverse;
    }
    .text{
      font-size: 1em;
    }
    &_image{
      text-align: center;
      margin-top: 30px;
    }
    &_image,
    &_text{
      width: 100%;
      padding: 0;
    }
  }
}