<section class="section-about" id="about">
    <div class="container">
        <div class="flexible">
            <div class="section-about_image">
                <img src="images/svg/about.svg" alt="">
            </div>
            <div class="section-about_text">
                <h2>About Us</h2>
                <div class="text">
                    PawPal is a mobile app for dog owners and dog lovers. Our community is growing and with our app you can find a trusted local person to spend time with your dog when you are not around. We have created a mobile app for all dog lovers to join also for dog owner to find local help for doggy care.
                </div>
            </div>
        </div>
    </div>
</section>