.btn{
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  padding:10px;
  line-height: normal;
  border-radius: 5px;
  position: relative;
  border:1px solid;
  &-sm{
    font-size: 12px;
  }
  &-full{
    width: 100%;
  }
  &.disabled,
  &:disabled{
    background: #e0e0e5;
    color:$color_gray_1;
  }
  &-lg{
    min-width: 270px;
    text-transform: uppercase;
    padding-top: 18px;
    padding-bottom: 18px;
  }
  &-menu{
    border: 0;
    padding: 10px 15px;
    line-height: 2px;
    text-align: right;
    width: 55px;
    .icon-bar{
      display: inline-block;
      vertical-align: top;
      background: $color_blue_1;
      width: 25px;
      height: 3px;
      border-radius: 25px;
      @include web_transition(all .2s ease-in-out);
      &+.icon-bar{
        margin-top: 5px;
      }
    }
    &.open{
      .icon-bar{
        &:first-child {
          @include web_transform(translateY(8px) rotate(45deg));
          width: 100%;
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          @include web_transform(translateY(-8px) rotate(-45deg));
          width: 100%;
        }
      }
    }
  }
}
.link{
  display: inline-block;
  vertical-align: top;
  &-underline{
    text-decoration: underline;
    &:hover{
      text-decoration: none;
    }
  }
}