@media(min-width: 1025px) {
  .hide-desktop {
    display: none;
  }
}

@media(max-width: 1024px) {
  .hide-tablet {
    display: none;
  }
}
@media(max-width: 980px) {
  .text{
    font-size: 14px;
  }
  h1, .h1{
    font-size:40px;
  }
  h2, .h2{
    font-size: 36px;
  }
  h3, .h3{
    font-size: 30px;
  }
  h4, .h4{
    font-size: 28px;
  }
  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4{
    letter-spacing: -1px;
  }
}
@media(min-width: 768px) {
  .show-mobile {
    display: none !important;
  }
}

@media(max-width: 767px) {
  .hide-mobile {
    display: none;
  }
  h1, .h1{
    font-size: 36px;
  }
  h2, .h2{
    font-size: 30px;
  }
  h3, .h3{
    font-size: 22px;
  }
  h4, .h4{
    font-size: 24px;
  }
}