.section-find{
  padding: 130px 0 80px;
  position: relative;
  text-align: center;
  .container{
    position: relative;
    &:after{
      position: absolute;
      content: '';
      top: 130px;
      right: 100%;
      margin-right: -130px;
      background: $color_green_1;
      background: url("../images/svg/drop-find.svg") no-repeat center top;
      width: 115px;
      height: 102px;
    }
  }
  &:before{
    position: absolute;
    content: '';
    top:0;
    left: 0;
    width: 100%;
    height:1510px;
    background: url("../images/svg/bg-find.svg") no-repeat center top;
    background-size: auto 100%;
    -ms-background-size: auto 100%;
  }
  &-list{
    @include block_flex;
    @include flex_justify_center;
    @include flex_wrap;
    max-width: 980px;
    margin: 0 auto;
    &_item{
      width: 30%;
      margin:40px 15px 0;
      @include box_shadow(0 3px 10px rgba($border_color_2,0.10));
      padding: 10px 10px 35px;
      background: $color_white;
      border-radius: 7px;
      min-width: 240px;
      .name{
        color: $color_title;
        font-size: 26px;
      }
      .image{
        margin-bottom: 10px;
        line-height: 180px;
        img{
          vertical-align: middle;
        }
      }
    }
  }
}
@media(max-width: 980px) {
  .section-find{
    padding-top: 80px;
    &:before{
      height: 1000px;
      background-size: auto 100%;
      -ms-background-size: auto 100%;
    }
    .container:after{
      display: none;
    }
  }
}
@media(max-width: 767px) {
  .section-find{
    padding: 30px 0;
    &:before{
      height: 800px;
    }
    &-list{
      margin: 0 -5px;
      &_item{
        margin: 5px;
        padding: 10px;
        min-width: 140px;
        .name{
          font-size: 20px;
        }
        .image{
          line-height: 120px;
          img{
            max-height: 120px;
          }
        }
      }
    }
  }
}