<section class="section-find">
    <div class="container">
        <h2>Find a Pal for your loving dog for</h2>
        <div class="section-find-list">
            <div class="section-find-list_item">
                <div class="image"><img src="images/find/action1.svg" alt=""></div>
                <div class="name">Walk</div>
            </div>
            <div class="section-find-list_item">
                <div class="image"><img src="images/find/action2.svg" alt=""></div>
                <div class="name">Run</div>
            </div>
            <div class="section-find-list_item">
                <div class="image"><img src="images/find/action3.svg" alt=""></div>
                <div class="name">Day Care</div>
            </div>
            <div class="section-find-list_item">
                <div class="image"><img src="images/find/action4.svg" alt=""></div>
                <div class="name">Sleep Over</div>
            </div>
            <div class="section-find-list_item">
                <div class="image"><img src="images/find/action5.svg" alt=""></div>
                <div class="name">Play</div>
            </div>
            <div class="section-find-list_item">
                <div class="image"><img src="images/find/action6.svg" alt=""></div>
                <div class="name"><span class="hide-mobile">And much</span><span class="show-mobile">Much</span> more</div>
            </div>
        </div>
    </div>
</section>