.section-contact{
  padding: 60px 0;
  position: relative;
  text-align: center;
  min-height: 440px;
  &_email{
    padding: 40px 0 60px;
    font-size: 26px;
    font-weight: bold;
    a{
      border-bottom: 2px solid;
      &:hover{
        border-color: transparent;
      }
    }
  }
  &_links{
    @include block_flex;
    @include flex_justify_center;
    @include flex_wrap;
    a{
      font-size: 20px;
      font-family: $font_family_menu;
      font-weight: 600;
      color: $color_green_1;
      width: 230px;
      text-align: center;
      margin: 10px;
      line-height: 22px;
      padding: 10px;
      border: 2px solid;
      border-radius: 24px;
      img{
        margin-right: 10px;
      }
    }

  }
}
@media(max-width: 767px) {
  .section-contact{
    padding: 40px 0;
    min-height: 340px;
    &_email{
      padding: 10px 0 30px;
      font-size: 20px;
    }
    &_links{
      a{
        font-size: 18px;
        padding: 7px;
        margin: 7px;
      }
    }
  }
}