<section class="section-contact" id="contact">
    <div class="container">
        <h1 class="blue">Our Contacts</h1>
        <div class="section-contact_email">
            <a href="mailto:info@pawpal.io">info@pawpal.io</a>
        </div>
        <div class="section-contact_links">
            <a href="/"><img src="images/social/social_fb.svg" alt="">Facebook</a>
            <a href="/"><img src="images/social/social_in.svg" alt="">Linkedin</a>
            <a href="/"><img src="images/social/social_inst.svg" alt="">Instagram</a>
            <a href="/"><img src="images/social/social_yt.svg" alt="">YouTube</a>
        </div>
    </div>
</section>