.section-founder{
  text-align: center;
  padding: 10px 0 0;
  background: url("../images/svg/bg-founder.svg") center top no-repeat;
  background-size: auto 96%;
  -ms-background-size: auto 96%;
  min-height: 600px;
  &_text{
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
    .text{
      padding: 7px 15px;
      width: 50%;
    }
  }
  &_info{
    margin: 30px 0;
    .image{
      margin-bottom: 15px;
    }
    .position{
      text-transform: uppercase;
      font-size: 16px;
      opacity: 0.7;
    }
  }
}
@media(max-width: 980px) {
  .section-founder{
    .text{
      font-size: 1.14em;
    }
  }
}
@media(max-width: 767px) {
  .section-founder{
    padding: 30px 0 0;
    &_text{
      .flexible{
        @include flex_wrap;
      }
      .text{
        width: 100%;
        padding-left: 0;
        padding-right: 0;
      }
    }
    &_info{
      margin-bottom: 10px;
      .position{
        font-size: 14px;
      }
    }
  }
}