<section class="section-founder">
    <div class="container">
        <h2>Founder</h2>
        <div class="section-founder_info">
            <div class="image"><img src="images/founder.png" alt=""></div>
            <div class="name"><h4 class="green">Alireza Fard</h4></div>
            <div class="position">dog owner and founder of PawPal</div>
        </div>
        <div class="section-founder_text">
            <div class="flexible">
                <div class="text">
                    Alireza, owner of 2 playful dogs (Hunter and Bella), founded PawPal as he needed someone to look after his dogs for a few days. A friend of him offered to look after the pups while Alireza was not around. Hunter and Bella were in good hands and they enjoyed a weekend outdoor with a friend rather than being at the dog boarding school and the friend enjoyed spending time with the dogs.
                </div>

                <div class="text">
                    Then he realised there are many dog owners who could appreciate finding a real Pal for their dogs also there are so many people who love spending time with the dogs. Why not creating a community so that they can find each other, meet and enjoy a company of the dog.
                </div>
            </div>
        </div>
    </div>
</section>