footer{
  text-align: center;
  line-height: 30px;
  padding: 30px 0;
  font-size: 15px;
  margin-top: 280px;
  position: relative;
  background: rgba($color_link,0.3);
  &:before{
    content: '';
    position: absolute;
    bottom:0;
    left: 0;
    height: 380px;
    width: 100%;
    background: url("../images/bg-footer.png") repeat-x center bottom;
  }
  //@include web_transform(scale(-1, 1));
}
.footer{
  &-copy{
    margin: 0 50px;
    display: inline-block;
    vertical-align: top;
  }
}
@media(max-width: 767px) {
  footer{
    margin-top: 180px;
    font-size: 14px;
    &:before{
      height: 275px;
      background-size: auto 100%;
      -ms-background-size: auto 100%;
    }
  }
  .footer-copy{
    margin: 0 12px;
  }
}