    <footer>
        <div class="container">
            <a href="/">Terms of Use</a>
            <div class="footer-copy">© 2018 PawPal</div>
            <a href="/">Privacy Policy</a>
        </div>
    </footer>

