.section-safety{
  text-align: center;
  padding: 80px 0 120px;
  &-tabs{
    max-width: 420px;
    margin: 0 auto;
    padding: 10px 0 30px;
    ul{
      font-size: 20px;
      font-family: $font_family_title;
      font-weight: bold;
      @include block_flex;
      width: 100%;
      li{
        display: block;
        width: 100%;
        &:first-child{
          a{border-radius: 7px 0 0 7px;}
        }
        &:last-child{
          a{border-radius: 0 7px 7px 0;}
        }
        a{
          background: $color_white;
          border:1px solid $border_color_1;
          color: rgba($color_title,0.7);
          padding: 0.5em;
          text-align: center;
          display: block;
        }
        &.active{
          a{
            background: $color_link;
            border-color: $color_link;
            color: $color_white;
          }
        }
      }
    }
  }
  .tab-content{
    max-width: 820px;
    margin: 0 auto;
    text-align: left;
    min-height: 230px;
    .flexible{
      @include flex_align_item_center;
    }
    .text{
      font-size: 1.125em;
    }
    .image{
      margin-right: 45px;
      -ms-flex: 0 0 180px;
      flex: 0 0 180px;
      max-width: 180px;
    }
  }
}
@media(max-width: 980px) {
  .section-safety{
    padding: 30px 0 0;
  }
}
@media(max-width: 767px) {
  .section-safety{
    min-height: 340px;
    &-tabs{
      padding-bottom: 20px;
      ul{
        font-size: 17px;
      }
    }
    .tab-content{
      min-height: 160px;
      .text{
        font-size: 1em;
      }
      .image{
        margin-right: 0;
        margin-left: 10px;
        -ms-flex: 0 0 90px;
        flex: 0 0 90px;
        max-width: 90px;
        order:1;
      }
    }
  }
}