<section class="section-safety">
    <div class="container">
        <h2>Safety</h2>
        <div class="section-safety-tabs">
            <ul>
                <li class="active">
                    <a href="#s1" role="tab" data-toggle="tab" class="item-nav" aria-expanded="true">Paw’s Pledge</a>
                </li>
                <li class="">
                    <a href="#s2" role="tab" data-toggle="tab" class="item-nav" aria-expanded="false">Pal’s Pledge</a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane active" id="s1">
                <div class="flexible">
                    <div class="image"><img src="images/safe.png" alt=""></div>
                    <div class="text">
                        I pledge that I will give the most accurate information about my dog, and that I would be happy for a responsible, experienced and trustworthy local person to borrow my dog.
                    </div>
                </div>
            </div>
            <div class="tab-pane " id="s2">
                <div class="flexible">
                    <div class="image"><img src="images/safe.png" alt=""></div>
                    <div class="text">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>