.section-intro{
  padding: 30px 0;
  position: relative;
  .text{
    font-size: 1.375em;
  }
  &_image,
  &_text{
    width: 50%;
  }
  &_text{
    max-width:500px;
    padding: 80px 0;
    padding-right: 15px;
  }
  &:before{
    position: absolute;
    content: '';
    top:0;
    left: 50%;
    width: 684px;
    height:669px;
    background: url("../images/svg/bg-intro.svg") no-repeat;
    background-size: auto 100%;
    -ms-background-size: auto 100%;
    margin-top: -50px;
  }
  &:after{
    position: absolute;
    content: '';
    top: 140px;
    left: 49%;
    width: 88px;
    height:88px;
    background: url("../images/svg/bg-intro-circle.svg") no-repeat;
  }
  .container{
    position: relative;

  }
}
@media(max-width: 767px) {
  .section-intro{
    padding: 30px 0 10px;
    text-align: center;
    &:before{
      background-size: 90% auto;
      -ms-background-size: 90% auto;
      background-position: top center;
      left: 0;
      width: 100%;
      top:230px;
      margin: 0;
    }
    &:after{
      display: none;
    }
    .flexible{
      @include flex_wrap;
    }
    &_image{
      padding: 60px 30px 0;
    }
    &_image,
    &_text{
      width: 100%;
    }
    &_text{
      padding: 0;
      margin: 0 auto;
    }
    .text{
      font-size: 1.14em;
      br{
        display: none;
      }
    }
  }
}