<section class="section-intro">
    <div class="container">
        <div class="flexible">
            <div class="section-intro_text">
                <h1 class="blue">Your Trusted Dog Community</h1>
                <div class="text">
                    Dogs bring so much happiness and joy. <br/>
                    Become a member and be part of a fantastic
                    <br/>
                    Pet loving community.
                </div>
            </div>
            <div class="section-intro_image">
                <img src="images/intro.png" alt="">
            </div>
        </div>
    </div>
</section>