.section-download{
  padding: 60px 0;
  position: relative;
  text-align: center;
  min-height: 600px;
  background: url("../images/svg/bg-download.svg") no-repeat center top;
  &:before{
    position: absolute;
    content: '';
    top:30%;
    left: 50%;
    width: 140px;
    height:120px;
    margin-left: 420px;
    background: url("../images/svg/heart.svg") no-repeat center top;
  }

  .text{
    font-size:1.25em;
    max-width: 960px;
    margin: 40px auto;
  }
  &_links{
    a{
      display: inline-block;
      vertical-align: top;
      font-size: 22px;
      font-family: $font_family_menu;
      color: $color_link;
      padding: 10px 30px 15px;
      min-width: 320px;
      text-align: left;
      background: $color_white;
      margin: 0 15px 15px;
      border: 2px solid;
      border-radius: 10px;
      line-height: 30px;
      &:nth-child(2){
        color: $color_green_1;
      }
      .name{
        font-size: 34px;
        font-weight: 600;
      }
      img{
        float: left;
        margin-right: 14px;
        margin-top: 5px;
      }
    }
  }
}
@media(max-width: 767px) {
  .section-download{
    padding: 40px 0;
    min-height: 340px;
    background-position: center center;
    background-size: auto 90%;
    -ms-background-size: auto 90%;
    &:before{
      display: none;
    }
    .text{
      font-size: 1.15em;
      margin: 10px 0 25px;
    }
    &_links{
      a{
        font-size: 18px;
        line-height: 23px;
        .name{
          font-size: 30px;
        }
        img{
          height: 43px;
        }
      }
    }
  }
}
@media(max-width: 480px) {
  .section-download_links a{
    min-width: 290px;
    margin-left: 0;
    margin-right: 0;
  }
}