<section class="section-download">
    <div class="container">
        <h1 class="blue">Get the App</h1>
        <div class="text">
            Check out matches on-the-go with our iPhone and Android Apps
        </div>
        <div class="section-download_links">
            <a href="/">
                <img src="images/svg/apple.svg" alt="">
                Available on the <div class="name">App Store</div>
            </a>
            <a href="/">
                <img src="images/google_play.png" alt="">
                Get it on <div class="name">Google Play</div>
            </a>
        </div>
    </div>
</section>