header{
  text-align: center;
}
.header{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  line-height: 30px;
  z-index: 10;
  padding: 25px 0;
  .container{
    position: relative;
    &:after{
      position: absolute;
      content: '';
      top:0;
      right: 100%;
      width: 404px;
      height:337px;
      background: url("../images/svg/drop-header.svg") no-repeat;
      margin-right: 30px;
      margin-top: -90px;
      background-size: auto 100%;
      -ms-background-size: auto 100%;
    }
  }
  &~.main{
    padding-top: 80px;
  }
  &-logo{
    text-transform: uppercase;
    font-size: 20px;
    img{
      vertical-align: middle;
      width: 125px;
      height: 30px;
    }
  }
  &-nav{
    font-family: $font_family_menu;
    font-size: 15px;
    text-transform: uppercase;
    li{
      display: inline-block;
      vertical-align: top;
      margin: 0 20px;
      position: relative;
      a{
        position: relative;
        &:hover{
          opacity: 0.3;
        }
      }
      &.active{
        a{
          opacity: 0.3;
        }
        &:after{
          position: absolute;
          bottom:0;
          left:50%;
          width: 46px;
          margin-left: -23px;
          height: 2px;
          background: $color_white;
          content: '';
        }
      }
    }
  }
  &-menu{
    line-height: normal;
    display: none;
    .btn-menu{
      margin-right: -15px;
      margin-top: -5px;
      margin-bottom: -5px;
    }
  }
}
@media(max-width: 1040px) {
  .header{
    &-nav{
      li{
        margin: 0 10px;
      }
    }
  }
}
@media(min-width: 768px) {
  .header-nav{
    display: block!important;
  }
}
@media(max-width: 767px) {
  .header{
    padding: 15px 0;
    line-height: 30px;
    position: fixed;
    background: $color_white;
    @include box_shadow(0 3px 10px rgba($border_color_2,0.1));
    &~.main{
      padding-top: 60px;
    }
    &-logo{
      z-index: 11;
      img{
        width: 95px;
        height: 22px;
        margin-top: -5px;
      }
    }
    &-nav{
      display: none;
      position: fixed;
      top:0;
      left:-100%;
      height: 100%;
      width: 100%;
      padding-top: 100px;
      line-height: 38px;
      z-index: 9;
      background: $color-white;
      li{
        display: block;
        margin: 0;
        &:after{
          display: none;
        }
        a{
          border-bottom: 3px solid transparent;
        }
        &.active{
          a{
            border-bottom-color: $color_white;
            opacity: 1;
          }
        }
      }
      &.open{
        left: 0;
      }
    }
    &-menu{
      z-index: 11;
      display: block;
      .btn-border{
        min-width: 145px;
      }
    }
  }
  .menu-open{
    overflow: hidden;
    .header-logo{
      opacity: 0.99!important;
    }
  }
}