<header class="header">
    <div class="container">
        <div class="flexible">
            <a class="header-logo" href="index.html"><img src="images/logo.png"></a>
            <div class="header-nav" id="navbar">
                <ul class="nav">
                    <li><a class="link" href="index.html">Home</a></li>
                    <li><a class="link" href="how.html">HOW IT WORKS</a></li>
                    <li><a class="link" href="download.html">download</a></li>
                    <li><a class="link" href="contacts.html">Contacts</a></li>
                </ul>
            </div>
            <div class="header-menu">
                <a class="btn btn-menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
            </div>
        </div>
    </div>
</header>