<section class="section-value">
    <div class="container">
        <h2>You will love PawPal, if You are</h2>
        <div class="section-value-item">
            <div class="flexible">
                <div class="section-value_text">
                    <h3 class="blue">A Dog Owner (Paw)</h3>
                    <div class="text">
                        <p>
                            It is important for the owners to have peace of mind knowing that the dog is being well taken care of by a local walker who joined simply because they love dogs.
                        </p>
                        <p>
                            Paw Profile is about our dogs so we can search for a trusted human friend in the area to take the dogs for a walk, play and sometimes sleepover when we are not around. We have the chance to meet with new dog sitter and find a great human friend for our dogs, someone who treats our dog like family.
                        </p>
                    </div>
                </div>
                <div class="section-value_image">
                    <img src="images/value1.png" alt="">
                </div>
            </div>
        </div>
        <div class="section-value-item">
            <div class="flexible">
                <div class="section-value_image">
                    <img src="images/value2.png" alt="">
                </div>
                <div class="section-value_text">
                    <h3 class="blue">A Dog Host (Pal)</h3>
                    <div class="text">
                        <p>
                            This is for the ones who enjoy some happy time with the local dogs in the area, It’s a win-win situation!
                        </p>
                        <p>
                            Dog walkers can benefit from joining our community, so they can search and find more Paws in the neighborhood and become their best Pals. Time to go for a fun walk and spend some times with our local furry friends.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>