.section-value{
  padding: 50px 0 150px;
  background: url("../images/svg/bg-value.svg") center 140px no-repeat;
  background-size: auto 85%;
  -ms-background-size: auto 85%;
  h2{
    text-align: center;
  }
  .text{
    font-size: 1.125em;
  }
  &_image,
  &_text{
    width: 50%;
  }
  &_image{
    padding: 0 15px;
    &:nth-child(2){
      text-align: right;
    }
  }
  &_text{
    padding: 0 40px;
  }
  &-item{
    &:first-child{
      margin-top: 50px;
    }
    .flexible{
      @include flex_align_item_center;
    }
  }
}
@media(max-width: 980px) {
  .section-value{
    background-size: 100% auto;
    -ms-background-size: 100% auto;
    padding-bottom: 50px;
    &_text{
      padding: 0 15px;
    }
  }
}
@media(max-width: 767px) {
  .section-value{
    padding: 30px 0;
    background-size: auto 80%;
    -ms-background-size: auto 80%;
    background-position: center;
    &-item{
      margin-top: 20px;
      .flexible{
        @include flex_wrap;
      }
      &:last-child{
        .flexible{
          @include flex_column_reverse;
        }
      }
    }
    &_image{
      text-align: center!important;
      margin-top: 15px;
      img{
        max-height: 270px;
      }
    }
    &_image,
    &_text{
      width: 100%;
    }
    &_text{
      padding: 0;
    }
  }
}